<%
	def name = prefix ? "${prefix}${property.name}" : property.name

    switch (property.type) {
        case Boolean:
        case boolean:
            out << renderBooleanEditor(domainClass, property, name)
            break
        case Number:
        case byte:
        case short:
        case int:
        case long:
        case float:
        case double:
            out << renderNumberEditor(domainClass, property, name)
            break
        case String:
            out << renderStringEditor(domainClass, property, name)
            break
    }

    private String renderBooleanEditor(domainClass, property, name) {
        def sb = new StringBuilder()
        sb << '<input type="checkbox"'
        sb << ' id="' << name << '"'
        sb << ' name="' << name << '"'
        sb << ' data-ng-model="item.' << name << '"'
        sb << '>'
        sb as String
    }

    private String renderNumberEditor(domainClass, property, name) {
        def sb = new StringBuilder()
        sb << '<input'
        if (cp.range) {
            sb << ' type="range"'
			sb << ' id="' << name << '"'
			sb << ' name="' << name << '"'
			sb << ' data-ng-model="item.' << name << '"'
			sb << ' min="' << cp.range.from << '"'
			sb << ' max="' << cp.range.to << '"'
			sb << '<output for="' << name << '">{{' << name << '}}</output>'
		} else {
			if (property.type in [float, double, Float, Double, BigDecimal]) sb << ' type="text"'
			else sb << ' type="number"'
			sb << ' id="' << name << '"'
			sb << ' name="' << name << '"'
			sb << ' data-ng-model="item.' << name << '"'
			if (cp.min != null) sb << ' min="' << cp.min << '"'
			if (cp.max != null) sb << ' max="' << cp.max << '"'
			if (isRequired()) sb << ' required'
			sb << '>'
		}
		sb as String
    }

    private String renderStringEditor(domainClass, property, name) {
        def sb = new StringBuilder()
        sb << '<input type="text"'
        sb << ' id="' << name << '"'
        sb << ' name="' << name << '"'
        sb << ' data-ng-model="item.' << name << '"'
        if (cp.matches) sb << ' pattern="' << cp.matches << '"'
        if (isRequired()) sb << ' required'
        sb << '>'
        sb as String
    }

    private boolean isRequired() {
        !isOptional()
    }

    private boolean isOptional() {
        if (!cp) {
            return false
        } else {
            cp.nullable || (cp.propertyType == String && cp.blank) || cp.propertyType in [boolean, Boolean]
        }
    }
%>
