* {
    box-sizing: border-box;
}

/* social buttons that appear in navbar */
.social-buttons li {
    height: 20px;
    padding: 10px 0;
}

/* index page */
.masthead {
	background-color: #68B940 ;
	background-image: linear-gradient(to bottom, #68B940 , #48802c);
    padding-top: 60px;
    padding-bottom: 30px;
	text-shadow: 0 1px 1px #9b9;
}
.masthead h1 {
	font-family: cursive;
	font-size: 43px !important;
	font-weight: normal;
}
.masthead h1 img {
	margin-bottom: 10px;
	max-height: 43px;
	vertical-align: middle;
}
.masthead .actions {
	margin-top: 30px;
}
.masthead .actions .btn {
	font-size: 18px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 13px 22px 13px 74px;
	position: relative;
	text-align: left;
	white-space: nowrap;
}
.masthead .actions .btn {
	background-color: hsl(0, 0%, 79%);
	background-repeat: repeat-x;
	background-image: linear-gradient(hsl(0, 0%, 121%), hsl(0, 0%, 79%));
	border-color: hsl(0, 0%, 79%) hsl(0, 0%, 79%) hsl(0, 0%, 68.5%);
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
	-webkit-font-smoothing: antialiased;
}
.masthead .actions [class^="icon-"] {
	font-size: 46px;
	left: 22px;
	position: absolute;
	vertical-align: text-top;
}
img.avatar {
	width: 48px;
	height: 48px;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* show page */
dl.dl-horizontal dt {
	width: 150px;
}

dl.dl-horizontal dd {
	margin-left: 160px;
}

.form-actions {
	padding-left: 160px;
}

@media (max-width: 767px) {
	dl.dl-horizontal dt {
		width: auto;
	}

	dl.dl-horizontal dd {
		margin-left: 0;
	}

	.form-actions {
		padding-left: 20px;
	}
}