# Grails
/target
*.log

# IntelliJ stuff
.idea
*.ipr
*.iml
*.iws
/out

# Generated scaffolding
/grails-app/views/*/_form.gsp
/grails-app/views/*/create.gsp
/grails-app/views/*/edit.gsp
/grails-app/views/*/list.gsp
/grails-app/views/*/show.gsp
*Tests.groovy