# Grails
target
*.log
/*.zip
/plugin.xml
*.db

# IntelliJ stuff
.idea
*.ipr
*.iml
*.iws
/out

# Generated scaffolding
/test/apps/grails-ng/grails-app/views/*/_form.gsp
/test/apps/grails-ng/grails-app/views/*/create.gsp
/test/apps/grails-ng/grails-app/views/*/edit.gsp
/test/apps/grails-ng/grails-app/views/*/list.gsp
/test/apps/grails-ng/grails-app/views/*/show.gsp
*Tests.groovy

# OSX stuff
.DS_Store