
<div class="page-header">
	<h1>Edit Album</h1>
</div>
<form name="form" data-ng-submit="update(item)" class="form-horizontal">
	<input type="hidden" data-ng-model="item.id">
	<input type="hidden" data-ng-model="item.version">

	<div class="control-group">
		<label class="control-label" for="artist">Artist</label>
		<div class="controls">
			<input type="text" id="artist" name="artist" required data-ng-model="item.artist">
			<span class="help-inline">{{errors.artist}}</span>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			<input type="text" id="title" name="title" required data-ng-model="item.title">
			<span class="help-inline">{{errors.title}}</span>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Update</button>
		<button type="button" class="btn btn-danger" data-ng-click="delete(item)"><i class="icon-trash"></i> Delete</button>
	</div>
</form>
