<h1>Create Album</h1>
<form data-ng-submit="save()">
    <fieldset class="form">
        <div class="fieldcontain required">
            <label for="artist">Artist<span class="required-indicator">*</span></label>
            <input type="text" id="artist" name="artist" required data-ng-model="item.artist">
        </div>
        <div class="fieldcontain required">
            <label for="title">Title<span class="required-indicator">*</span></label>
            <input type="text" id="title" name="title" required data-ng-model="item.title">
        </div>
    </fieldset>
    <fieldset class="buttons">
        <button type="submit" class="save">Create</button>
    </fieldset>
</form>
