<div class="page-header">
	<h1>Album List</h1>
</div>
<div class="alert alert-{{message.level}}" data-ng-show="message"><a class="close" data-dismiss="alert" href="#">&times;</a>{{message.text}}</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in list" data-ng-click="show(item)">
            <td>{{item.artist}}</td>
            <td>{{item.title}}</td>
        </tr>
    </tbody>
</table>
<div class="pagination pagination-centered">
	<ul>
		<li data-ng-class="{disabled: currentPage == 0}">
			<a data-ng-href="#/list?max={{max}}&offset={{offset - max}}">&laquo;</a>
		</li>
		<li data-ng-repeat="page in pages()" data-ng-class="{active: page == currentPage}">
			<a data-ng-href="#/list?max={{max}}&offset={{page * max}}">{{page + 1}}</a>
		</li>
		<li data-ng-class="{disabled: currentPage == pages().slice(-1)}">
			<a data-ng-href="#/list?max={{max}}&offset={{offset + max}}">&raquo;</a>
		</li>
	</ul>
</div>
