<ul>
    <li data-ng-class="{disabled: currentPage == 0}" data-ng-switch data-on="currentPage == 0">
        <a data-ng-switch-when="true">&laquo;</a>
        <a data-ng-click="previousPage()" data-ng-switch-default>&laquo;</a>
    </li>
    <li data-ng-repeat="page in pages()" data-ng-class="{active: page == currentPage}">
        <a data-ng-click="goToPage(page)">{{page + 1}}</a>
    </li>
    <li data-ng-class="{disabled: currentPage == lastPage()}" data-ng-switch data-on="currentPage == lastPage()">
        <a data-ng-switch-when="true">&raquo;</a>
        <a data-ng-click="nextPage()" data-ng-switch-default>&raquo;</a>
    </li>
</ul>